{% extends 'base.html.twig' %}

{% block content %}

	{% form_theme editForm 'bootstrap_4_layout.html.twig' %}

	{{ form_start(editForm, {'attr': {'class': 'form-horizontal'}}) }}

	{{ form_row(editForm.email) }}

	{{ form_row(editForm.firstname) }}

	{{ form_row(editForm.lastname) }}

	{{ form_row(editForm.address) }}

	{{ form_row(editForm.zipcode) }}

	{{ form_row(editForm.city) }}

	{{ form_row(editForm.country) }}

	{{ form_row(editForm.phone) }}

	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

	{{ form_end(editForm) }}


{% endblock %}
